# Copyright (c) 2011-2026 Cisco Systems, Inc.
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the GNU General Public License version 2 as
#  published by the Free Software Foundation.
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with this program; if not, write to the Free Software
#  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
#  MA 02110-1301, USA.

*.o
*.in
m4/*
Makefile
configure
configure~
**/.dirstamp
**/.deps
**/.libs
stamp-h1
config.*
compile
depcomp
missing
src/dispatcher
aclocal.m4
libtool
ltmain.sh
install-sh
autom4te.cache
*.swp
**/*.lo
src/*.la
tests/configTest
tests/daemonTest
tests/logTest
tests/test_hash
tests/test_block_id
tests/test_list
tests/test_string_list
tests/test_uuids
tests/test_config_file
tests/test_timer
tests/test_json_buffer_primitives
tests/test_json_buffer_structs
tests/test_json_buffer_invalid
tests/test_messages_roundtrip
tests/*.log
tests/*.trs
test-driver
razorback.pc
/\.idea
