*.o
*.in
m4/*
Makefile
configure
configure~
**/.dirstamp
**/.deps
**/.libs
stamp-h1
config.*
compile
depcomp
missing
src/dispatcher
aclocal.m4
libtool
ltmain.sh
install-sh
autom4te.cache
*.swp
**/*.lo
src/*.la
tests/configTest
tests/daemonTest
tests/logTest
razorback.pc
/\.idea
